
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Corinthia&family=Hubballi&family=League+Spartan:wght@100&display=swap');

*{
    box-sizing: border-box;

}

img{
    width: 200px;
    height: 200px;
   
}

li{
    display: inline;
}

.social{
    padding: 5px;
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    color: #6b92cf;
    top: -120px;
    left: 35%;
}

.icon{
    text-decoration: none;
    position: relative;
    left:80%;
    top: -152px;
    font-size: 1.7rem;
    color: #55adbd;
}

.social:hover{
    color: #0f0f0f;
    transition:1s ease-in-out;
    font-size:2.2rem ;
}
.icon:hover{
    color:#d64d40;
    transition: 1s ease-in-out;
    font-size: 3rem;

}
article{
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid lightgrey;
box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;;
    width: 50%;
    position: relative;
    left: 25%;
    color: black;
    font-family: 'Hubballi', cursive;
}

.github-account{
    color: red;
    font-family: 'Hubballi', cursive;
    text-align: center;
    text-decoration: none;
}
@media (max-width:600px){
article{
   
    font-size:0.7rem;
    width: 75%;
    left: 11.5%;
}
}

@media (max-width:600px){
.icon:hover{
    transition: 0.7s ease-in-out;
    font-size: 1.5rem;
}
}

@media (max-width:600px){
.social:hover{
    font-size: 1.3rem;
    transition: 0.7s ease-in-out;
}
}

@media (max-width:600px){
.icon{
    position: relative;
    left: 80%;
    top:-91.5px;
    font-size:1rem;


}
}

@media (max-width:600px){
.social{
    font-size: 1rem;
    padding: 3px;
    position:relative;
    text-decoration: none;
    top:-75px;
    left:25%;
}
}

@media (max-width:600px){
    img{
        position:relative;
        left:-20px;
        width: 120px;
    height: 120px;
    }
}
